.popular-list .panel-body {
    height: 700px;
    overflow: scroll;
}

.popular-list .panel-heading {
    color: #1cd963;
    background-color: #000;
    font-size: 1.2em;
}

.popular-list .movie-overview {
    margin: 5px 0;
}